$darkFontColor: #363636;
$defaultColor: #e3b873;
$whiteColor: #fff;
//Main Styles
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  counter-reset: number;
}

h1,
h2,
h3,
h4 {
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
}

h4 {
  margin: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
  display: flex;
  li {
    list-style: none;
  }
}

ul.list {
  display: inline-block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  max-width: 100%;
}

sup {
  vertical-align: text-bottom;
}

@mixin fontYeseva {
  font-family: "Yeseva One", cursive;
}

@mixin dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
}

@mixin transition($property) {
  -webkit-transition: $property;
  transition: $property;
}

@mixin text-center() {
  text-align: center;
}

@mixin header3() {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.title-icon {
  margin-bottom: 31px;
  text-align: center;
  &:before {
    content: '';
    background-image: url("../images/icons/line-icon.svg");
    display: inline-block;
    height: 3px;
    margin: 25px auto 15px;
    width: 32px;
  }
  &:after {
    content: '';
    background-image: url("../images/icons/line-icon.svg");
    display: inline-block;
    height: 3px;
    margin: 25px auto 15px;
    width: 32px;
  }
  img {
    padding: 0 10px;
  }
}

button,
.button {
  background: $defaultColor;
  border-radius: 2px;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
  &.btn-default {
    padding: 13px 33px;
    box-shadow: 0 5px 20px rgba(227, 184, 115, 0.1);
    white-space: nowrap !important;
  }
  &.btn {
    padding: 20px 40px;
    margin-right: 20px;
    font-size: 11px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    &:hover {
      background-color: $defaultColor;
      border-color: $defaultColor;
      @include transition(all 0.3s ease-in-out);
    }
  }
}

input {
  height: 26px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  border-radius: 0;
  padding: 0 14px 0 0;
  max-width: 231px;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  background: transparent;
}

input.submit-button {
  height: 50px;
  box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
  border-bottom: 0;
  max-width: 200px;
  font-style: normal;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 13px;
  line-height: 51px;
}

.card-label {
  position: absolute;
  left: 0;
  bottom: -25px;
  margin-left: 25px;
  color: $whiteColor;
  background: $defaultColor;
  padding: 10px 21px;
  max-width: fit-content;
  height: 54px;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  @include fontYeseva;
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}




.header {
  background-color: #131313;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    .logo {
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      color: $defaultColor;
    }
    .navbar {
      ul {
        li {
          list-style: none;
          margin-right: 47px;
          a {
            color: white;
            font-size: 11px;
            line-height: 15px;
            text-transform: uppercase;
            &:hover {
              color: $defaultColor;
              @include transition(all 0.3s ease-in-out);
            }
          }
        }
      }
    }
    .phone-number {
      font-size: 11px;
      text-decoration-line: underline;
      a {
        color: $defaultColor;
      }
    }
  }
}

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 707px;
  position: relative;
  color: #ffffff;
  .hero-overlay {
    @include dark-overlay;
    .hero-container {
      padding: 194px 0 200px;
      .caption {
        max-width: 600px;
        margin-left: 42px;
        .welcome-title {
          font-family: Yeseva One, cursive;
          font-size: 40px;
          line-height: 53px;
          text-transform: uppercase;
          color: #ffffff;
          margin: 0 auto 20px;
          .colored-text {
            color: #e3b873;
          }
        }
        .welcome-message {
          font-size: 22px;
          line-height: 36px;
        }
        .call-to-action {
          margin-top: 36px;
        }
      }
    }
  }
}

.projects {
  padding-top: 107px;
  padding-bottom: 414px;
  background-color: black;
  color: white;
  .project-locations {
    display: flex;
    margin-left: 50%;
    margin-bottom: 45px;
    ul {
      padding: 0;
      li {
        list-style: none;
        margin-right: 30px;
        a {
          font-family: "Yeseva One", cursive;
          font-size: 14px;
          line-height: 19px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.3);
          &:hover {
            color: $defaultColor;
            padding-bottom: 7px;
            border-bottom: 1px solid $defaultColor;
            @include transition(all 0.3s ease-in-out);
          }
        }
      }
    }
  }
  .content {
    display: flex;
    margin: 0 42px;
    .project-description {
      flex-basis: 50%;
      padding-right: 50px;
      h2 {
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: $defaultColor;
        margin-top: 0;
      }
      p {
        font-size: 14px;
        line-height: 27px;
        color: #FFFFFF;
        & span {
          display: block;
        }
      }
      .hidden-slider {
        display: none;
        position: relative;
        margin-top: 70px;
        a {
          background: $defaultColor;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          padding: 12px;
          color: #fff;
          position: absolute;
          cursor: pointer;
          &.slider-prev {
            top: 40%;
            margin-left: 14px;
            padding-left: 9px;
          }
          &.slider-next {
            top: 40%;
            right: 0;
            margin-right: 14px;
            padding-right: 9px;
          }
          & img {
            display: block;
            margin: auto;
          }
        }
      }
      .project-details {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 80px;
        .project-features {
          flex-basis: 50%;
          flex-direction: column;
          font-size: 13px;
          line-height: 21px;
          h3 {
            @include header3;
            color: $defaultColor;
            margin: 34px auto 9px;
          }
        }
      }
      .slider-navigation {
        display: inline-block;
        ul {
          padding: 0;
          margin: 0;
          li {
            display: inline-block;
            .arrow {
              &.left {
                margin-right: 12px;
              }
              &.right {
                margin-left: 12px;
              }
              img {
                width: 42px;
                vertical-align: middle;
              }
            }
            .dot {
              height: 10px;
              width: 10px;
              margin: 0 9px;
              background-color: rgba(255, 255, 255, 0.3);
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;
              &:hover {
                background-color: #FFFFFF;
              }
            }
          }
        }
      }
    }
    .project-image {
      flex-basis: 50%;
      background-image: url("../images/slider/slider1.jpg");
      background-size: cover;
    }
  }
}

.camera-control {
  margin-top: -327px;
  .wrap {
    @include text-center;
    max-width: 817px;
    margin: auto;
    h3 {
      @include header3;
      line-height: 28px;
      color: $whiteColor;
    }
    .video-container {
      margin: 31px auto 62px;
      position: relative;
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
      .youtube-video {
        width: 100%;
        height: 434px;
        max-width: 100%;
        display: block;
      }
    }
    .break-line {
      width: 55px;
      border-top: 1px solid $defaultColor;
      border-radius: 30px;
      border-bottom: 0;
    }
    p {
      font-size: 18px;
      line-height: 37px;
      color: $darkFontColor;
      margin: 25px 84px 91px 84px;
    }
    form {
      .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .form-input {
          text-align: left;
          label {
            font-size: 13px;
            line-height: 21px;
            color: rgba(54, 54, 54, 0.5);
            input {
              display: flex;
              border: 0;
              border-bottom: 1px solid rgba(54, 54, 54, 0.3);
              border-radius: 0;
              padding: 0 14px 0 0;
              max-width: 231px;
              color: $darkFontColor;
              &::placeholder {
                color: $darkFontColor;
                font-size: 14px;
                line-height: 23px;
              }
            }
          }
        }
      }
      .form-checkbox {
        margin-top: 34px;
        .checkbox-label {
          position: relative;
          display: inline-block;
          padding-left: 29px;
          font-size: 14px;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: -2px;
            left: 0;
            width: 18px;
            height: 18px;
            border-radius: 1px;
            border: 1px solid $defaultColor;
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 6px;
            width: 5px;
            height: 8px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        input[type="checkbox"] {
          display: none;
          &:checked+label:before {
            background: $defaultColor;
            border-radius: 1px;
          }
        }
      }
    }
    input {
      width: 100%;
      font-size: 13px;
      height: 50px;
      line-height: 51px;
      border-radius: 4px;
      color: #000;
      outline: none;
      padding: 0 20px;
      transition: all .2s;
      box-shadow: none;
      border: 1px solid #e0e0e0;
      background: #fff;
    }
    .submit-button {
      box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
      border-bottom: 0;
      max-width: 200px;
      font-style: normal;
      border: none;
      background: $defaultColor;
      color: $whiteColor;
    }
  }
}

.services {
  margin: 75px auto 325px;
  background-image: url("../images/sketch.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 800px;
  .service-types {
    h3 {
      @include header3;
      text-align: center;
    }
    .cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .card-block {
        max-width: 392px;
        position: relative;
        .card-inner {
          position: relative;
          text-align: left;
          padding: 25px 34px 50px;
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          margin: -133px auto 0 auto;
          background: $whiteColor;
          max-width: 330px;
          h4 {
            color: $darkFontColor;
            @include fontYeseva;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            list-style: none;
            margin-bottom: 10px;
          }
          .card-inner-list {
            display: inline-block;
            margin: 0;
            padding-left: 15px;
            li {
              list-style-type: disc;
              font-size: 13px;
              line-height: 27px;
              color: #959595;
            }
          }
        }
      }
    }
  }
  .estimate-form {
    margin: 230px auto 14px auto;
    display: flex;
    max-height: 539px;
    .estimate-features {
      flex-basis: 60%;
      .estimate-features-list {
        margin-left: 20%;
        max-width: 70%;
        .item {
          font-size: 14px;
          line-height: 19px;
          margin-bottom: 36px;
          position: relative;
          overflow: hidden;
          padding: 20px;
          .item-number {
            content: '';
            background: #e3b873;
            width: 42px;
            height: 42px;
            border-radius: 100%;
            padding: 24px;
            z-index: 2;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            color: #FFFFFF;
            border: 8px solid #FFFFFF;
            box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
            &::before {
              counter-increment: number;
              content: "0" counter(number) " ";
              position: absolute;
              left: 14px;
              top: 14px;
              @include fontYeseva;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 25px;
            }
            &:after {}
          }
          .item-text {
            display: inline-block;
            max-width: 70%;
            vertical-align: middle;
            margin-left: 17px;
          }
        }
      }
    }
    .estimate-submit {
      background: #131313;
      color: $whiteColor;
      flex-basis: 40%;
      padding: 28px 49px;
      h4 {
        text-align: center;
        margin-bottom: 40px;
        font-family: Nunito Sans;
        font-size: 18px;
        line-height: 26px;
      }
      #boxed-form {
        &:last-child {
          margin-bottom: 10px;
        }
        .form-group {
          position: relative;
          margin-top: 48px;
          label {
            display: block;
            margin-bottom: 5px;
            font-size: 13px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.5);
          }
          input {
            max-width: 100%;
            width: 100%;
            outline: none;
            color: $whiteColor;
            border-color: rgba(255, 255, 255, 0.15);
            &::placeholder {
              color: $whiteColor;
            }
          }
        }
        .form-checkbox {
          margin-top: 15px;
          .checkbox-label {
            position: relative;
            display: inline-block;
            padding-left: 29px;
            font-size: 14px;
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: -2px;
              left: 0;
              width: 18px;
              height: 18px;
              border-radius: 1px;
              border: 1px solid $defaultColor;
              background: $defaultColor;
            }
            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 6px;
              width: 5px;
              height: 8px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          input[type="checkbox"] {
            box-sizing: border-box;
            display: none;
            &:checked {
              display: none;
            }
            &:checked+label:before {
              content: '';
              background: $defaultColor;
              border-radius: 1px;
            }
            &:checked+label:after {
              display: none;
            }
          }
        }
        .submit-button {
          max-width: 213px !important;
          float: right;
        }
      }
    }
  }
  .info {
    float: right;
    margin-right: 60px;
    .savings-badge {
      background: #e3b873;
      width: 72px;
      height: 72px;
      border-radius: 100%;
      padding: 29px;
      z-index: 2;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      img {
        max-width: fit-content;
        position: relative;
        left: -12px;
        top: -11px;
      }
    }
    p {
      color: $defaultColor;
      display: inline-block;
      margin-left: 25px;
      vertical-align: middle;
      max-width: 50%;
    }
  }
}

.portfolio {
  background-image: url("../images/portfolio/portfolio_1.jpg");
  background-size: cover;
  position: relative;
  color: #ffffff;
  margin-bottom: 110px;
  max-height: 864px;
  &:before {
    content: '';
    @include dark-overlay;
  }
  .container {
    display: flex;

    .portfolio-styles {
      margin-top: 137px;
      margin-bottom: 0;
      margin-right: 246px;
      z-index: 1;

      h3 {
        color: $defaultColor;
        @include header3;
        margin-bottom: 47px;
      }
    }

    .list {
      margin: auto;
      padding: 0;
      li {
        margin-bottom: 25px;
        a {
          &:hover {
            color: $defaultColor;
            border-bottom: 1px solid $defaultColor;
          }
        }
      }
    }

    .portfolio-row-1, .portfolio-row-2 {
      display: flex;
      flex-direction: column;
      z-index: 1;
      img {
        max-width: 353px;
        margin-bottom: 40px;
      }
    }

    .portfolio-row-1 {
      margin-right: 45px;
      margin-top: -40px;
    }

    .portfolio-row-2 {
      margin-top: -112px;
    }
  }






}

.testimonials {
  padding-bottom: 354px;
  position: relative;


  &:before {
    content: '';
    background-image:  url("../images/city-bg.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 628px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.05;
  }


  h3 {
    @include header3;
    @include text-center;
  }

  .testimonials-text {
    @include text-center;
    font-size: 18px;
    line-height: 29px;
    color: #363636;
    max-width: 30%;
    margin: -20px auto 0;

  }

  .testimonial-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    .testimonial-card-block {
      box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
      position: relative;
      text-align: left;
      padding: 25px 34px 50px;
      margin: auto;
      background: #fff;
      max-width: 330px;
      .testimonial-header {
        margin-bottom: 25px;
        .client-img {
          border-radius: 100%;
          width: 76px;
          height: 76px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 23px;
        }
        h4 {
          max-width: 55%;
          display: inline-block;
          vertical-align: middle;
        }
      }
      p {
        text-align: left;
        font-size: 13px;
        line-height: 180%;
        color: #959595;
        margin: 5px 0;
      }

      .testimonials-label {
        position: absolute;
        left: 0;
        bottom: -25px;
        line-height: 25px;
        background-color: $defaultColor;
        @include fontYeseva;
        font-size: 17px;
        color: $whiteColor;
        display: inline-block;
        text-transform: uppercase;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
        .label-left, .label-right {
          display: inline-block;
          padding: 10px 12px;
        }
        .label-left {
          border-right: 1px solid white;
        }
        img, span {
          vertical-align: middle;
        }

        img {
          margin-right: 8px;
        }

        .label-right span {
          vertical-align: sub;
        }
      }
    }
  }
}

//Contact section

.contact {
  color: $whiteColor;
  max-width: 100%;
  height: auto;
  position: relative;
  background-image: url("../images/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: '';
    @include dark-overlay;
    background-image: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.8));
    opacity: .90;

  }

  .container {
    display: flex;
  }

  .inner {

    position: relative;
    max-width: 843px;
    margin: auto;

    .estimate-submit {
      background: black;
      position: relative;
      padding: 35px 153px;
      margin: -222px auto 52px;

      h3 {
        text-align: center;
        @include header3;
        color: $whiteColor;
      }
      #contact-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .form-group {
          position: relative;
          margin-top: 48px;
          padding: 0 28px;

          &:last-child {
            margin: 50px 0 0;
            text-align: center;
          }

          &.form-half {
            flex: 0 0 50%;
            max-width: 50%;
          }

          &.form-full {
            flex: 1 0 100%;
            max-width: 100%;
          }

          label {
            display: block;
            margin-bottom: 5px;
            font-size: 13px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.5);
          }
          input {
            max-width: 100%;
            width: 100%;
            outline: none;
            color: $whiteColor;
            border-color: rgba(255, 255, 255, 0.15);
            &::placeholder {
              color: $whiteColor;
            }
          }

          .submit-button {
            max-width: 200px;
          }
        }
        .form-checkbox {
          margin-top: 46px;
          .checkbox-label {
            position: relative;
            display: inline-block;
            padding-left: 29px;
            font-size: 14px;
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: -2px;
              left: 0;
              width: 18px;
              height: 18px;
              border-radius: 1px;
              border: 1px solid $defaultColor;
              background: $defaultColor;
            }
            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 6px;
              width: 5px;
              height: 8px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          input[type="checkbox"] {
            box-sizing: border-box;
            display: none;
            &:checked {
              display: none;
            }
            &:checked+label:before {
              content: '';
              background: $defaultColor;
              border-radius: 1px;
            }
            &:checked+label:after {
              display: none;
            }
          }
        }

      }
    }
    h3 {
      color: $defaultColor;
      @include header3;
      @include text-center;
    }

    .social-icons {
      text-align: center;
      margin: 20px auto;

      .list {
        padding: 0;
        li {
          display: inline-block;
          .icon {
            width: 28px;
            height: 28px;
            background-color: $defaultColor;
            text-align: center;
            border-radius: 50%;
            margin: 0 8px;
            display: inline-block;

            .icon-mail {
              position: relative;
              background-image: url("../images/icons/mail-icon-small.svg");
              background-repeat: no-repeat;
              display: inline-block;
              width: 16px;
              height: 13px;
              vertical-align: middle;
              margin-top: 3px;
            }

            .icon-insta {
              background-image: url("../images/icons/insta-icon-small.svg");
              background-repeat: no-repeat;
              display: inline-block;
              width: 14px;
              height: 15px;
              vertical-align: middle;
              margin-top: 3px;
            }
          }
        }
      }
    }

    .map iframe {
      margin: 10px auto 67px;
      height: 465px;
      width: 100%;
    }
  }
}


//Responsive
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .header {
    .header-content {
      height: 57px;
      nav.navbar {
        display: none;
      }
      .phone-number {
        text-decoration: none;
        a {
          color: #fff;
        }
      }
      button.btn-default {
        display: none;
      }
    }
  }
  .hero {
    height: 476px;
    background-position: 75%;
    .hero-overlay {
      top: -1px;
      bottom: -1px;
      .hero-container {
        padding-top: 85px;
        .caption {
          text-align: center;
          margin: auto;
          .welcome-title {
            font-size: 23px;
            line-height: 1.35em;
          }
          .welcome-message {
            font-size: 14px;
            line-height: 135.84%;
          }
          .call-to-action {
            max-width: 100%;
            margin: 36px auto;
            text-align: center;
            button.btn {
              margin-top: 26px;
              width: 100%;
              .hidden {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .projects {
    padding: 36px 0 325px;
    text-align: center;
    .project-locations {
      display: none;
    }
    .content {
      display: block;
      margin: 0;
      .project-description {
        padding: 0;
        h2 {
          font-size: 22px;
          line-height: 138.6%;
        }
        p {
          padding: 0 17px;
          font-size: 11px;
          line-height: 158.48%;
          span {
            display: inline;
          }
        }
        .hidden-slider {
          display: inline-block;
        }
        .project-details {
          text-align: left;
          .project-features h3 {
            font-size: 14px;
            line-height: 138.6%;
          }
        }
        .slider-navigation {
          display: none;
        }
      }
      .project-image {
        display: none;
      }
    }
  }
  .camera-control {
    background: black;
    margin-bottom: 88px;
    .wrap {
      h3 {
        font-size: 22px;
      }
      .video-container {
        margin-bottom: 28px;
        .youtube-video {
          height: 207px
        }
      }
      p {
        font-size: 11px;
        line-height: 169.8%;
        color: $whiteColor;
        margin: auto;
      }
      form {
        color: white;
        padding-bottom: 80px;
        .form-group {
          align-items: stretch;
          flex-direction: column;
          position: relative;
          .form-input {
            margin-top: 63px;
            label {
              color: rgba(255, 255, 255, 0.5);
              input {
                max-width: 100%;
                background: black;
                border-color: $whiteColor;
                &::placeholder {
                  color: $whiteColor;
                }
              }
            }
          }
          .submit-button {
            position: absolute;
            bottom: -152px;
            max-width: 100%;
          }
        }
        .form-checkbox {
          margin-top: 26px;
          text-align: left;
          .checkbox-label:before {
            top: -3px;
          }
          .checkbox-label:after {
            top: 0;
          }
        }
      }
    }
  }
  .services .container {
    .service-types {
      h3{
        font-size: 22px;
      }
      .cards {
        flex-direction: column;
        .card-block {
          margin-bottom: 80px;
          .card-inner {
            margin: -133px 70px auto -1px;
          }
          .card-label {
            font-size: 15px;
            height: 40px;
            padding: 6px 16px;
            line-height: 138.6%;
          }
        }
      }
    }
    .estimate-form,
    .info {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    max-width: 100%;
  }
}