* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  background: #e3b873;
  border-radius: 2px;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
}
button.btn-default {
  padding: 13px 33px;
  box-shadow: 0 5px 20px rgba(227, 184, 115, 0.1);
  white-space: nowrap !important;
}
button.btn {
  padding: 20px 40px;
  margin-right: 20px;
  font-size: 11px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
button.btn:hover {
  background-color: #e3b873;
  border-color: #e3b873;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header {
  background-color: #131313;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
}
.header .header-content .logo {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #e3b873;
}
.header .header-content .navbar ul {
  list-style: none;
  display: flex;
}
.header .header-content .navbar ul li {
  list-style: none;
  margin-right: 47px;
}
.header .header-content .navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}
.header .header-content .navbar ul li a.active {
  color: #e3b873;
}
.header .header-content .navbar ul li a:hover {
  color: #e3b873;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .header-content .phone-number {
  font-size: 11px;
  text-decoration-line: underline;
}
.header .header-content .phone-number a {
  color: #e3b873;
}

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 707px;
  position: relative;
  color: #ffffff;
}
.hero .hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero .hero-overlay .hero-container {
  padding: 194px 0 200px;
}
.hero .hero-overlay .hero-container .caption {
  max-width: 600px;
  margin-left: 42px;
}
.hero .hero-overlay .hero-container .caption .welcome-title {
  font-family: Yeseva One, cursive;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 20px;
}
.hero .hero-overlay .hero-container .caption .welcome-title .colored-text {
  color: #e3b873;
}
.hero .hero-overlay .hero-container .caption .welcome-message {
  font-size: 22px;
  line-height: 36px;
}
.hero .hero-overlay .hero-container .caption .call-to-action {
  margin-top: 36px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .header .header-content {
    height: 57px;
  }
  .header .header-content nav.navbar {
    display: none;
  }
  .header .header-content .phone-number {
    text-decoration: none;
  }
  .header .header-content .phone-number a {
    color: #fff;
    text-decoration: none;
  }
  .header .header-content button.btn-default {
    display: none;
  }

  .hero {
    height: 476px;
    background-position: 75%;
  }
  .hero .hero-overlay .hero-container {
    padding-top: 85px;
  }
  .hero .hero-overlay .hero-container .caption {
    margin-left: 0;
  }
  .hero .hero-overlay .hero-container .caption .welcome-title {
    font-size: 23px;
    line-height: 1.35em;
  }
  .hero .hero-overlay .hero-container .caption .welcome-message {
    font-size: 14px;
    line-height: 135.84%;
  }
  .hero .hero-overlay .hero-container .caption .call-to-action {
    text-align: center;
  }
  .hero .hero-overlay .hero-container .caption .call-to-action button.btn {
    margin-top: 26px;
    width: 100%;
  }
  .hero .hero-overlay .hero-container .caption .call-to-action button.btn .hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    max-width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
