$defaultColor: #E3B873;

//Main Styles

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-family: 'Yeseva One', cursive;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin transition($property){
  -webkit-transition: $property;
  transition: $property;
}


button {
  background: $defaultColor;
  border-radius: 2px;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;

  &.btn-default {
    padding: 13px 33px;
    box-shadow: 0 5px 20px rgba(227, 184, 115, 0.1);
    white-space: nowrap !important;
  }

  &.btn {
    padding: 20px 40px;
    margin-right: 20px;
    font-size: 11px;
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    &:hover {
      background-color: $defaultColor;
      border-color: $defaultColor;
      @include transition(all 0.3s ease-in-out);
    }
  }
}

.header {
  background-color: #131313;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;

    .logo {
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      color: $defaultColor;
    }

    .navbar {

      ul {
        list-style: none;
        display: flex;

        li {
          list-style: none;
          margin-right: 47px;

          a {
            text-decoration: none;
            color: white;
            font-size: 11px;
            line-height: 15px;
            text-transform: uppercase;

            &.active {
              color: $defaultColor;
            }

            &:hover {
              color: $defaultColor;
              @include transition(all 0.3s ease-in-out);
            }
          }
        }
      }
    }

    .phone-number {
      font-size: 11px;
      text-decoration-line: underline;

      a {
        color: $defaultColor;
      }
    }
  }

}

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 707px;
  position: relative;
  color: #FFFFFF;

  .hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .7);

    .hero-container {

      padding: 194px 0 200px;

      .caption {
        max-width: 600px;
        margin-left: 42px;

        .welcome-title {
          font-family: Yeseva One, cursive;
          font-size: 40px;
          line-height: 53px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin: 0 auto 20px;
          .colored-text {
            color: #E3B873;
          }
        }

        .welcome-message {
          font-size: 22px;
          line-height: 36px;
        }

        .cta {
          margin-top: 36px;
        }
      }
    }
  }

}



//Responsive


@media screen and (max-width: 414px) {

  .header .header-content {
    height: 57px;
  }

  .hero {
    height: 476px;
    background-position: 75%;
    .hero-overlay .hero-container {
      padding-top: 85px;

      .caption {
        margin-left: 0;
        .welcome-title {
          font-size: 23px;
          line-height: 1.35em;
        }

        .welcome-message {
          font-size: 14px;
          line-height: 135.84%;
        }

        .cta {
          .btn {
            margin-top: 26px;
            width: 100%;
            .hidden {
              display: none;
            }
          }
        }
      }

    }
  }



}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }

}

//landscape

@media screen and (min-width: 320px) and (max-width: 768px) {
  .hero {
    height: 476px;
    background-position: 75%;
    .hero-overlay .hero-container {
      padding-top: 85px;

      .caption {
        margin-left: 0;
        .welcome-title {
          font-size: 23px;
          line-height: 1.35em;
        }

        .welcome-message {
          font-size: 14px;
          line-height: 135.84%;
        }

        .cta {
          .btn {
            margin-top: 26px;
            width: 100%;
            .hidden {
              display: none;
            }
          }
        }
      }

    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 922px;
  }
}


@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (max-width: 1200px) {

  .header-content button.btn-default,
  nav.navbar {
    display: none;
  }

  .header .header-content .phone-number {
    text-decoration: none;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

}



@media screen and (min-width: 1300px) and (max-width: 1440px) {
.container {
  width: 1280px;
}

}






