$defaultColor: #e3b873;
$whiteColor: #fff;


//Main Styles

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}



h1,
h2,
h3,
h4 {
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
}

@mixin transition($property) {
  -webkit-transition: $property;
  transition: $property;
}

@mixin text-center() {
  text-align: center;
}

@mixin header-main3 {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

@mixin header3() {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

button {
  background: $defaultColor;
  border-radius: 2px;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;

  &.btn-default {
    padding: 13px 33px;
    box-shadow: 0 5px 20px rgba(227, 184, 115, 0.1);
    white-space: nowrap !important;
  }

  &.btn {
    padding: 20px 40px;
    margin-right: 20px;
    font-size: 11px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;

    &:hover {
      background-color: $defaultColor;
      border-color: $defaultColor;
      @include transition(all 0.3s ease-in-out);
    }
  }
}

.header {
  background-color: #131313;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;

    .logo {
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      color: $defaultColor;
    }

    .navbar {
      ul {
        list-style: none;
        display: flex;

        li {
          list-style: none;
          margin-right: 47px;

          a {
            text-decoration: none;
            color: white;
            font-size: 11px;
            line-height: 15px;
            text-transform: uppercase;

            &:hover {
              color: $defaultColor;
              @include transition(all 0.3s ease-in-out);
            }
          }
        }
      }
    }

    .phone-number {
      font-size: 11px;
      text-decoration-line: underline;

      a {
        color: $defaultColor;
      }
    }
  }
}

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 707px;
  position: relative;
  color: #ffffff;

  .hero-overlay {
   @include dark-overlay;

    .hero-container {
      padding: 194px 0 200px;

      .caption {
        max-width: 600px;
        margin-left: 42px;

        .welcome-title {
          font-family: Yeseva One, cursive;
          font-size: 40px;
          line-height: 53px;
          text-transform: uppercase;
          color: #ffffff;
          margin: 0 auto 20px;

          .colored-text {
            color: #e3b873;
          }
        }

        .welcome-message {
          font-size: 22px;
          line-height: 36px;
        }

        .call-to-action {
          margin-top: 36px;
        }
      }
    }
  }
}

.portfolio {

  padding-top: 107px;
  display: flex;
  height: 1074px;
  background-color: black;
  color: white;

  .project-locations {
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;

      li{
        list-style: none;
        margin: auto 30px auto 45px;
        a {
          //color: $defaultColor;
          font-family: "Yeseva One", cursive;
          font-size: 14px;
          line-height: 19px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.3);
          &:hover {
            color: $defaultColor;
            padding-bottom: 7px;
            border-bottom: 1px solid $defaultColor;
            @include transition(all 0.3s ease-in-out);
            cursor: pointer;
          }
        }

      }
    }
  }

  .content {

    margin: 50px auto;
    display: flex;

    .inner {
      flex-basis: 50%;
      padding-right: 50px;
      flex-direction: row;
      h2{
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: $defaultColor;
        margin-top: 0;
      }

      p{
        font-size: 14px;
        line-height: 27px;
        color: #FFFFFF;
        & span {
          display: block;
        }
      }

      .hidden-slider {
        display: none;
        position: relative;
        margin-top: 59px;

        a {
          background: $defaultColor;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          padding: 12px;
          color: #fff;
          text-decoration: none;
          position: absolute;
          cursor: pointer;

          &.slider-prev {
            top: 40%;
            margin-left: 14px;
            padding-left: 9px;
          }

          &.slider-next {
            top: 40%;
            right: 0;
            margin-right: 14px;
            padding-right: 9px;
          }

          & img {
            display: block;
            margin: auto;
          }
        }
      }

      .project-details {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 80px;

        .project-features {
          flex-basis: 50%;
          flex-direction: column;
          font-size: 13px;
          line-height: 21px;

          h3 {
            @include header3;
            color: $defaultColor;
            margin-bottom: 9px;
            margin-top: 34px;
          }

        }

      }

      .slider-navigation {
        display: inline-block;
        ul {
          padding: 0;
          margin: 0;

          li {
            display: inline-block;
            list-style: none;

            .arrow {
              &.left {
                margin-right: 12px;
              }
              &.right {
                margin-left: 12px;
              }

              img {
                width: 42px;
                vertical-align: middle;
              }
            }

            .dot {
              cursor: pointer;
              height: 10px;
              width: 10px;
              margin: 0 9px;
              background-color: rgba(255, 255, 255, 0.3);
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;

              &:hover {
                background-color: #FFFFFF;
              }
            }
          }

        }
      }
    }


    .portfolio-image {

      justify-content: flex-end;
      flex-direction: row;
      flex-basis: 50%;

    }


  }



}

.camera-control {
  margin-top: -330px;

  .wrap {
    @include text-center;
    max-width: 817px;
    margin: auto;

    h3 {
      @include header-main3;
      color: $whiteColor;
    }

    .header-icon {

      &:before {
        content: '';
        background-image: url("../images/icons/icon_1.svg");
        display: inline-block;
        height: 3px;
        margin: 25px auto 15px;
        width: 32px;

      }

      &:after {
        content: '';
        background-image: url("../images/icons/icon_1.svg");
        display: inline-block;
        height: 3px;
        margin: 25px auto 15px;
        width: 32px;
      }

      img {
        padding: 0 10px;
      }

    }

    .camera-control-img {
      margin-top: 32px;
      margin-bottom: 62px;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
      }

      &:after {

      }

      .img-overlay {
        filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
        position: relative;
        max-width: 100%;
      }
      a.play-button {
        background: $defaultColor;
        width: 85px;
        height: 85px;
        border-radius: 100%;
        padding: 29px;
        position: absolute;
        z-index: 2;


        .play-icon {
          background-image: url("../images/icons/Polygon.svg");
          height: 25px;
          width: 21px;
          display: inline-block;
        }

      }

    }

    .break-line {
      width: 55px;

      border-top: 1px solid $defaultColor;
      border-radius: 30px;

      border-bottom: 0;

    }

    p {
      font-size: 18px;
      line-height: 37px;
      color: #363636;
      padding: 40px 84px 84px;
      margin: 0;
    }

    form {

      .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .form-input {
          text-align: left;

          label {
            font-size: 13px;
            line-height: 21px;
            color: rgba(54, 54, 54, 0.5);
            input {
              height: 26px;
              display: flex;
              border: 0;
              border-bottom: 1px solid rgba(54, 54, 54, 0.3);
              border-radius: 0;
              padding-left: 0;
              max-width: 231px;
              font-size: 14px;
              line-height: 23px;
              color: #363636;

              &::placeholder {
                color: #363636;
                font-size: 14px;
                line-height: 23px;
              }
            }
          }
        }
      }
      .form-checkbox {
        margin-top: 33px;


        .checkbox-label {
          position: relative;
          display: inline-block;
          padding-left: 36px;


          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 1px;
            left: 0;
            width: 18px;
            height: 18px;
            border-radius: 1px;
            border: 1px solid $defaultColor;
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            left: 6px;
            width: 5px;
            height: 8px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

        }

        input[type="checkbox"] {
          display: none;


          &:checked + label:before {
            background: $defaultColor;
            border-radius: 1px;

          }
        }


        //input[type=checkbox],
        //input[type=checkbox] + label {
        //  display: inline-block;
        //  vertical-align: middle;
        //  cursor: pointer;
        //  user-select: none;
        //
        //  &:before {
        //    content: "\2713";
        //    border-radius: 2px;
        //    background: $defaultColor;
        //    display: inline-block;
        //    vertical-align: middle;
        //    width: 20px;
        //    margin-right: 10px;
        //    text-align: center;
        //    font-size: 12px;
        //    padding: 6px;
        //    color: #e4efe5;
        //
        //  }
        //
        //
        //  input:checked + label:before {
        //    background: #288619;
        //    color: #FFF;
        //  }
        //
        //  input[type=checkbox][disabled] + label:before {
        //    color: #d0d0d0;
        //    background: #bfbfbf;
        //    border: 1px solid #656b64;
        ////  }
        //}
      }
    }

    input {
      width: 100%;
      font-size: 13px;
      height: 50px;
      line-height: 51px;
      border-radius: 4px;
      color: #000;
      outline: none;
      padding: 0 20px;
      transition: all .2s;
      box-shadow: none;
      border: 1px solid #e0e0e0;
      background: #fff;
    }

    .submit-button {
      background: $defaultColor;
      color: $whiteColor;
      box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
      border-radius: 2px;
      border-bottom: 0;
      max-width: 200px;
    }
  }

}





//Responsive

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .header {
    .header-content {
      height: 57px;
      nav.navbar {
        display: none;
      }
      .phone-number {
        text-decoration: none;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
      button.btn-default {
        display: none;
      }
    }
  }

  .hero {
    height: 476px;
    background-position: 75%;

    .hero-overlay {
      top: -1px;
      bottom: -1px;

      .hero-container {
        padding-top: 85px;

        .caption {
          margin-left: 0;

          .welcome-title {
            font-size: 23px;
            line-height: 1.35em;
          }

          .welcome-message {
            font-size: 14px;
            line-height: 135.84%;
          }

          .call-to-action {
            text-align: center;

            button.btn {
              margin-top: 26px;
              width: 100%;

              .hidden {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .portfolio {
    padding-top: 36px;
    height: 1553px;

    .project-locations {
      display: none;
    .content {

    }
  }
    .content {
      flex-wrap: wrap;
      .inner {
        flex-basis: auto;
        flex-direction: column;
        padding: 0;

        h2 {
          font-size: 22px;
          line-height: 138.6%;
          @include text-center;
        }
        p {
          padding: 0 17px;
          font-size: 11px;
          line-height: 158.48%;
          @include text-center;
          span {
            display: inline;
          }
        }

        .hidden-slider {
          display: inline-block;
        }

        .project-details .project-features h3 {
          font-size: 14px;
          line-height: 138.6%;
        }
        .slider-navigation {
          display: none;
        }


      }
      .portfolio-image {
        display: none;
      }
    }




  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    max-width: 100%;
  }
}
